    <!doctype html>
    <html lang="en">
    
    <head>
        <meta charset="utf-8" />
        <title>Applicaiton</title>
    </head>
    
    <body>
        <h1>Enter the latitude and longitude of a locaiton(e.g. 51.5072, 0.1276)</h1>
        <%- formHeading %>
        
            <fieldset>
                
                <label>latitude: <input type="number" step="0.0001" name="latitude"/></label>
                <label>longitude: <input type="number" step="0.0001" name="longitude"/></label>
                <br>
            </fieldset>
    
            <br>
            <input type="reset" />
            <input type="submit"/>
        </form>
        <hr>
        <%- homelink %>
    </body>
    </html>
    