<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Weather</title>
	<style>
		h1 {
    		color: rgb(40, 23, 217);
    		text-align: center;
		}	
	</style>
</head>

<body>
	<h1>Welcome(used Internal CSS here)</h1>

	use WeatherAPI.com to get up-to-date current weather information: <a href="/getWeather">getWeather</a><br><br>
	<hr>
</body>

</html>
